<div class="c-dialogue_inner" ng-class="orb.dialogueSidebar" ng-init="orb.dialogueSidebar=''; orb.dialogueTaskToAddTo=null">
    <h2>
        <span>Functional fun</span>
        <span>
            <button class="circle" ng-if="eventObj.label" ng-click="orb.OrbiterService.currentEventObjectValidator('save')" ng-if="eventObj.label && eventObj.fn.length"><i class="fa fa-check"></i></button>
            <button class="circle orange" ng-if="!eventObj.label || !eventObj.fn.length" ng-click="orb.OrbiterService.currentEventObjectValidator()"><i class="fa fa-close"></i></button>
        </span>
    </h2>
    <div>
        <div class="c-dialogue_input">
            <small class="error" ng-if="orb.OrbiterService.currentEventObjectError.label" ng-bind="orb.OrbiterService.currentEventObjectError.label"></small>
            <input type="text" ng-model="eventObj.label" placeholder="Function title" ng-class="orb.OrbiterService.currentEventObjectError.label ? 'red' : ''" />
        </div>
        <h3>Tasks&nbsp;&nbsp;<button class="circle" ng-click="eventObj.fn.push({type:null, target:null, action:null, valueType:null, value:null, promises:[]});"><i class="fa fa-plus"></i></button></h3>
        <interactive-task ng-repeat="(taskKey, task) in eventObj.fn track by $index" task="task" key="taskKey" tasks="eventObj.fn"></interactive-task>
    </div>

</div>
