<div
    ng-controller="OrbiterCtlr as orb"
    class="m-height100"
    ng-mouseup="orb.trackingMouseMove = false"
    ng-mouseleave="orb.trackingMouseMove = false"
    ng-mousemove="orb.trackingMouseMove ? orb.mouseMoveMethod($event) : null"
    ng-class="orb.trackingMouseMove ? 'c-resizer_tracking-mousemove blur-'+orb.dialogueOpen : 'c-ckrank_main blur-'+orb.dialogueOpen"
>
    <div class="c-orbiter_body">
        <div class="c-orbiter_body-inner">
            <orbiter-canvas ng-style="{'width':orb.$localStorage.Orbiter.canvasWidth}"></orbiter-canvas>
            <div class="c-resizer m-horizontal" ng-style="{'left':orb.$localStorage.Orbiter.canvasWidth}" ng-mousedown="orb.trackingMouseMove=true; orb.mouseMoveMethod=orb.canvasElements; orb.sizingElement=[$event, 'target', 'previousSibling']"></div>
            <orbiter-sidebar ng-style="{'left':orb.$localStorage.Orbiter.canvasWidth, 'width':orb.$localStorage.Orbiter.elementsWidth}"></orbiter-sidebar>
        </div>
    </div>

    <orbiter-menu></orbiter-menu>

    <new-data-dialogue class="c-dialogue" ng-if="orb.OrbiterService.newDataObject"></new-data-dialogue>
    <current-event-dialogue class="c-dialogue" ng-if="orb.OrbiterService.currentEventObject" ng-init="eventObj=orb.OrbiterService.currentEventObject"></current-event-dialogue>
    <new-template-dialogue class="c-dialogue" ng-if="orb.OrbiterService.newTemplate"></new-template-dialogue>
    <new-property-dialogue class="c-dialogue" ng-if="orb.OrbiterPropertyService.stagedProperty"></new-property-dialogue>
    <property-mapper-dialogue class="c-dialogue" ng-if="orb.OrbiterService.propertyMapperDialogue"></property-mapper-dialogue>
    <property-dialogue class="c-dialogue" ng-if="orb.OrbiterService.dialogueModelType && orb.OrbiterService.dialogueModelType === 'properties'" ng-class="orb.OrbiterService.selectedProperty ? 'opaque select-mode' : ''"></property-dialogue>
    <elements-dialogue class="c-dialogue" ng-if="orb.OrbiterService.dialogueModelType && orb.OrbiterService.dialogueModelType === 'elements'" ng-class="orb.OrbiterService.selectedProperty ? 'opaque select-mode' : ''"></elements-dialogue>
</div>
