<div class="c-dialogue_inner">
    <h3>
        <span>Available&nbsp;<drop-down options="['properties', 'elements','libraries']" model="orb.OrbiterService" key="propertyDialogue" r="{{orb.debug(orb.OrbiterService.propertyDialogue)}}"></drop-down></span>
        <span>
            <button ng-if=""class="circle" ng-click="orb.OrbiterService.stagedNewProperty={key:null,defaultValue:null,type:null};orb.OrbiterService.propertyDialogue=null"><i class="fa fa-plus"></i></button>
            <button class="circle orange" ng-click="orb.OrbiterService.propertyDialogue=null"><i class="fa fa-close"></i></button>
        </span>
    </h3>
    <div class="c-dialogue_input">
        <property-element ng-repeat="(propertyKey, property) in orb.InteractiveService[orb.OrbiterService.propertyDialogue] track by $index" property="property" property-key="propertyKey" root="true" parent="orb.InteractiveService.properties"></property-element>
    </div>
</div>



<!-- <div
    ng-repeat="(propertyKey, property) in orb.InteractiveService.properties track by $index"
    ng-if="property.hasOwnProperty('defaultValue')"
    class="property"
>
    <label ng-bind="propertyKey"></label>
    <input ng-model="property.defaultValue" type="text">
</div> -->


<!-- <input ng-model="orb.OrbiterService.stagedNewProperty.key" placeholder="name" type="text" ng-class="orb.OrbiterService.stagedNewPropertyKeyConflict ? 'red' : ''">
<input ng-model="orb.OrbiterService.stagedNewProperty.defaultValue" placeholder="default value" type="text">
<button class="circle" ng-click="orb.OrbiterService.insertNewProperty(orb.OrbiterService.stagedNewProperty)"><i class="fa fa-check"></i></button>
<button class="circle orange" ng-click="orb.OrbiterService.stagedNewProperty=null"><i class="fa fa-close"></i></button> -->
