<div ng-controller="OrbiterCtlr as orb">
    <div class="c-sidebar_elements_properties">
        <h4>Properties</h4>
        <div ng-if="orb.InteractiveService.elementProperties">
            <div
                ng-repeat="(propertyKey, property) in orb.InteractiveService.elementProperties.properties track by $index"
                class="c-sidebar_elements_property c-sidebar_item"
            >
                <label><span ng-bind="propertyKey"></span>&nbsp;&nbsp;<span ng-click="orb.OrbiterService.propertyDialogue={element:orb.InteractiveService.elementProperties, propertyKey:propertyKey};orb.debug(property)" class="c-sidebar_elements_property_bind-button">@</span></label>
                <element-property-input element-model="orb.InteractiveService.elementProperties" property-key="propertyKey"></element-property-input>
            </div>
            <element-property-input element-model="orb.InteractiveService.elementProperties"></element-property-input>
        </div>
    </div>
    <div class="c-sidebar_events">
        <h4>Events</h4>
        <div ng-if="orb.InteractiveService.elementProperties">
            <div ng-repeat="(eventKey, event) in orb.InteractiveService.elementProperties.events track by $index" class="c-sidebar_event c-sidebar_item">
                <label>
                    <span ng-bind="eventKey"></span>
                    <button class="circle small light-blue" ng-if="!event.fn.length" ng-click="orb.OrbiterService.currentEventObject=event"><i class="fa fa-plus"></i></button>
                </label>
                <div class="c-sidebar_event_function" ng-if="event.fn.length">
                    <label>
                        <span ng-bind="event.label"></span>
                        <button class="circle small" style="color:#fff;" ng-click="orb.OrbiterService.currentEventObject=event;"><i class="fa fa-pencil"></i></button>
                    </label
                </div>
            </div>
        </div>
    </div>
</div>
