<div class="c-dialogue_input tasks" ng-controller="OrbiterCtlr as orb">
    <small class="error" ng-if="orb.OrbiterService.currentEventObjectError.tasks[$index]" ng-bind="orb.OrbiterService.currentEventObjectError.tasks[$index]"></small>

    <drop-down ng-if="task.promiseType !== undefined" key="promiseType" default="promise type" options="{done:'done', then:'then'}" model="task"></drop-down>

    <drop-down key="type" default="type" options="{set:'set', run:'run'}" model="task"></drop-down>
    <button
        ng-if="task.type"
        ng-click="task.type==='set' ? orb.OrbiterService.selectedProperty={obj:task,key:'target',type:'properties',path:task.target} : orb.OrbiterService.selectedProperty={obj:task,key:'target',type:'libraries',path:task.target}; orb.OrbiterService.dialogueModelType= task.type==='set'? 'properties' : 'libraries';"
        ng-bind="task.target || 'set target'"
    ></button>
    <drop-down ng-if="task.type==='set'" key="action" options="{'=':'='}" model="task"></drop-down>
    <drop-down ng-if="task.type==='set'" key="valueType" options="{'custom text':'custom text', property:'property'}" model="task"></drop-down>


    <input ng-if="task.type==='set' && task.valueType==='custom text'" ng-model="task.value" type="text" placeholder="value">
    <button ng-if="task.type==='set' && task.valueType==='property'" ng-click="orb.OrbiterService.selectedProperty={obj:task,key:'value',path:task.value}; orb.OrbiterService.dialogueModelType='properties'" ng-bind="task.value || 'set value'"></button>
    <button class="orange circle" ng-click="orb.OrbiterService.removeArrayElement(tasks, taskKey)"><i class="fa fa-trash"></i></button>

    <div ng-if="task.type === 'run' && task.arguments">
        <p>Arguments</p>
        <div ng-repeat="arg in task.arguments track by $index">
            <drop-down key="type" options="{'custom text':'custom text', properties:'properties'}" model="arg"></drop-down>
            <button
                ng-if="arg.type === 'properties'"
                ng-click="orb.OrbiterService.selectedProperty={obj:arg,key:'value',type:'properties',path:task.value}; orb.OrbiterService.dialogueModelType='properties'"
                ng-bind="arg.value || 'set'"
            ></button>
            <input ng-if="arg.type==='custom text'" ng-model="arg.value" type="text" placeholder="value">
        </div>
    </div>

    <div ng-if="task.type === 'run'">
        <p>Promises&nbsp;&nbsp;<button class="circle small" style="position:relative;top:-2px;" ng-click="task.promises.push({promiseType:null})"><i class="fa fa-plus"></i></button></p>
        <div ng-repeat="(promiseKey, promise) in task.promises track by promise.promiseType">
            <interactive-task task="promise" key="promiseKey" tasks="task.promises"></interactive-task>
        </div>
    </div>
</div>
